<div *ngIf="uporabnik">
    <h3>Podrobnosti uporabnika {{uporabnik.username}}</h3>

        Posodobi podrobnosti uporabnika:
        <div [id]="uporabnik.id">
            <a>Uporabnisko ime: </a>
            <span contenteditable>{{uporabnik.username}}</span><br>
            <a>Email:</a>
            <span contenteditable>{{uporabnik.email}}</span><br>
        </div>
    <button style="background-color: palegoldenrod" class="posodobi"
            (click)="posodobi(uporabnik)">Posodobi
    </button>

<br>
    <br>
        <tr *ngIf="uporabnik.borrows">
            <td valign="top">Zgodovina izposoj:</td>
            <td class="seznam">
                <li  *ngFor="let seznam of izposojeni">
                    <span>{{seznam.item.title}}</span><br>
                    <span>{{seznam.item.description}}</span><br>
                    <span *ngIf="!seznam.returned">Vrni do:
                    {{seznam.to_date}}
                        <button style="background-color: paleturquoise" class="priljubljen"
                                (click)="vrni(seznam.item.id,uporabnik.id)">Vrni
                        </button>
                    </span>


                </li>
            </td>
        </tr>


     <br>
    <h4>Priljubljeni predmeti:</h4>
    <td class="seznam">
        <li  *ngFor="let seznam of priljublljeni">
            <span>{{seznam.title}}</span><br>
            <span>{{seznam.description}}</span><br>

            <button style="background-color: paleturquoise" class="priljubljen"
                    (click)="priljubljen(seznam,uporabnik.id)">Odstrani iz priljubljenih
            </button>

        </li>
    </td>

    <br>

</div>
