h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.seznam {
  margin: 5em 5em 5em 5em;
  list-style-type: none;
  padding: 3px;
  width: 50em;
  height: 30em;
}
.seznam li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 1em;
  padding: 1em 1em 1em 1em;
  height: auto;
  border-radius: 4px;
}


.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }


.seznam li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.seznam li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.seznam .text {
  position: relative;
  top: -3px;
}
.seznam .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: auto;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button.delete {
  float:right;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}
